@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../images/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

#to_do {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #10101d;
    padding: 18px;
    border-radius: 8px;
    width: 430px;
}

#to_do h1 {
    color: #e5f9ff;
    font-size: 28px;
    text-transform: uppercase;
}

.to-do-form {
    display: flex;
    width: 100%;
}

.to-do-form input {
    background-color: transparent;
    border: none;
    color: #e5f9ff;
    font-size: 16px;
    width: 100%;
    padding: 4px;
    border-bottom: 2px solid #EE9CA7;
}

.to-do-form input:focus-visible {
    outline: none;
}

.to-do-form .form-button {
    border: none;
    min-height: 40px;
    min-width: 40px;
    background-color: #EE9CA7;
    border-radius: 100%;
    font-size: 20px;
    transition: scale 0.5s ease;
}

.to-do-form .form-button:hover {
    cursor: pointer;
    scale: 1.05;
}
